.sidor
{
    display: flex;
    background-color: rgb(237, 120, 24);
    justify-content: space-evenly;
}

body
{
    background-color:rgb(223, 217, 217);
}

.margin
{
    margin: 0%;
}

.text
{
    color: black;
}

.smallText
{
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.center
{
    display: flex;
    justify-content: center;
    margin: 100px;
    margin-top: 0%;
    margin-bottom: 0%;
}

.textMargin
{
    margin-bottom: 25px;
}

.img
{
    display: flex;
    justify-content: center;
    height: 350px;
    margin-bottom: 25px;
}

h3
{
    margin-top: 0px;
    margin-bottom: 15px;
}

.imgLink
{
    display: flex;
    margin-top: 50px;
    justify-content: space-evenly;
    margin-left: 150px;
    margin-right: 150px;
}

.img2
{
    max-width: 100%;
    min-width: 100px;
    height: auto;
}

.center
{
    display: flex;
    justify-content: center;
}

.noMargin
{
    margin-top: 0px;
}

.imgMargin
{
    margin-left: 25px;
    margin-right: 25px;
}

.workingImg
{
    display: flex;
    justify-content: center;
    max-width: 100%;
    max-height: 550px;
}
img{
    max-width: 100%;
    height: auto;
}